{% extends 'writing/base.html.twig' %}

{% block middle %}
    <div class="section">
        <div class="section-header">
            <div class="section-title">Blogger nổi bật</div>
        </div>
        <div class="section-body">

        </div>
        <div class="section-footer">

        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="section">
        <div class="section-header">
            <div class="section-title">Đăng ký</div>
        </div>
        <div class="section-body">

        </div>
        <div class="section-footer">

        </div>
    </div>
{% endblock %}
