<div class="card sticky">
    <div class="card-header">
        <h6 class="card-title mb-0">Quote</h6>
    </div>
    <div class="card-body">
        <div class="card-title">{{ quote|raw }}</div>
    </div>
</div>
