<div id="wtf-ads">
    <div class="modal-fullscreen">
        <div class="text-description">
            <p>Share your post & comment on Communities</p>
        </div>
        <div class="btn-group">
            <div class="login">
                <a class="btn btn-login" href="{{ path('security_login') }}">Login</a>
            </div>
            <span>or</span>
            <div class="register">
                <a class="btn btn-register" href="{{ path('security_register') }}">Register</a>
            </div>
        </div>
    </div>
</div>
