<div class="store-item">
    <div class="item-left">
        <div class="item-image">
            <img src="https://writetf.com/upload/images/ihyzqt6v1ha/5e2d72b032d4b.jpeg" alt="" title="">
        </div>
        <div class="item-detail">
            <a class="item-title" href="#"><h5>Ly sứ Viết Xong Xóa</h5></a>
            <div class="item-pricing">
                <span class="item-pricing-coin">100 <i class="fas fa-coins"></i></span>
            </div>
            <span class="item-description">Được làm bằng chất liệu sứ cao cấp, chịu nóng lạnh rất tốt</span>
        </div>
    </div>
    <div class="item-actions">
        <button class="btn btn-primary btn-sm btn-buy">Buy</button>
    </div>
</div>
