{% extends 'base.html.twig' %}

{% block title %}Writetf's Store{% endblock %}

{% block body_id 'store_index' %}

{% block main %}
    <div class="store">
        <h5 class="group-title-category">Writetf's Store</h5>
       {% for i in 0..10 %}
           {{ include('store/_store_item.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar_left %}
    {{ parent() }}
{% endblock %}
