{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card-body p a {
            color: #0060a8;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body_id 'error' %}

{% block out_side_main %}
    <div id="main" class="col-lg-8 card p-4">
        <div class="card">
            <div class="card-header p-4"><h5 class="text-danger m-0 p-0">Something went wrong</h5></div>
            <div class="card-body">
                <p>
                    {{ 'http_error_500.suggestion'|trans({ '%url%': path('blog_index') })|raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block out_side_left %}
    <div id="sidebar-left" class="col-lg-2"></div>
{% endblock %}

{% block out_side_right %}
    <div id="sidebar-right" class="col-lg-2"></div>
{% endblock %}
